.ct-chart {
	&-wrap {
		position: relative;
		width: 500px;
		margin: 0 auto;
		padding: 0 30px;
		font-size: 14px;
		
		&,
		*,
		*::before,
		*::after {
			box-sizing: border-box;
		}
		
		@media screen and (max-width: 500px) {
			width: 100%;
		}
	}
	&-overlay {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
		@include no-select();
	}
	&-title {
		width: 80%;
		margin: 0 auto 40px;
		text-align: center;
	}
	&-btn {
		position: relative;
		z-index: 1;
		display: block;
		width: 200px;
		margin: 30px auto;
		padding: 15px 20px;
		overflow: hidden;
		border: none;
		outline: none;
		font-family: 'Open Sans', sans-serif;
		font-weight: 100;
		font-size: 14px;
		color: #fff;
		letter-spacing: 3px;
		text-decoration: none;
		text-transform: uppercase;
		background-color: #dddddd;
		transition: all 0.4s cubic-bezier(0.25, 0.1, 0.2, 1);
		cursor: pointer;
		&:before,
		&:after {
			content: '';
			position: absolute;
			display: block;
		}
		&:before {
			top: -120px;
			left: 50px;
			z-index: -1;
			width: calc(100% + 140px);
			height: 100px;
			transition: all 0.4s cubic-bezier(0.25, 0.1, 0.2, 1);
			transform: skew(70deg);
			background: #f36;
		}
		&:after {
			top: 0;
			left: 0;
			z-index: -2;
			width: calc(100% - 2px);
			height: calc(100% - 2px);
		}
		&:hover:before {
			left: -50px;
			top: -20px;
		}
	}
	
	& > svg {
		overflow: visible;
	}
	
	.ct-legend {
		font-size: 1em;
		font-weight: 100;
		text-transform: uppercase;
	}
	
	.ct-legend-instructions {
		text-transform: none;
	}
	
	.ct-point-value {
		fill: #333;
		font-weight: bold;
		font-size: 0.875em;
	}
	
	.ct-line {
		//stroke-linecap: round;
		stroke-linejoin: bevel;
	}
	
	.ct-series {
		&-a { // final
			opacity: 1;
			.ct-area {
				fill: deepskyblue;
			}
			.ct-line {
				stroke: deepskyblue;
			}
			.ct-point {
				opacity: 0;
				stroke: deepskyblue;
				&:last-of-type {
					opacity: 1;
				}
			}
		}
		&-b { // user
			.ct-line {
				stroke: #f4c63d;
				stroke-dasharray: 1 7;
				stroke-linecap: round;
			}
			.ct-point {
				opacity: 0;
				stroke: #f4c63d;
				&:last-of-type:not(:first-of-type) {
					opacity: 1;
				}
			}
		}
		&-c { // initial
			.ct-area {
				fill: tomato;
			}
			.ct-line {
				stroke: tomato;
			}
			.ct-point {
				stroke: tomato;
				opacity: 0;
				&:last-of-type,
				&:first-of-type {
					opacity: 1;
				}
			}
			// line:nth-of-type(-n+5) {
			// 	opacity: 0;
			// }
		}
	}
}
